<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gabrycaos.upphoto" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="Camera">
        <param name="browser-package" value="Camera" />
    </feature>
    <name>UpPhoto</name>
    <description>
        A sample Apache Cordova application that send base64-encoded images to server.
    </description>
    <author email="gabriele.falasca.89@gmail.com" href="http://gabrycaos.altervista.org">
        gabrycaos - Gabriele Falasca
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
